<header class="header">
	<div class="container">
		<h1 class="logo">
			<a title="HOME" href="{{ site.baseurl | append: "/" }}">Home</a>
		</h1>
		<nav class="nav">
			<ul class="nav-list">
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl | append: "/about" }}">About ME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl | append: "/about" }}">Landscape Project</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl | append: "/about" }}">IT Project</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl | append: "/about" }}">Logo Design</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
